extends ./layout.jade
block contenido
  section(class="noticias")
    h1 Noticas
    div(class="contenedor")  
      -for(var i=0; i<6; i++)
        div(class="contenedor__item")
          img(src="http://grupotendencias.com/image/muestra-icon-07.png")
          h3 Titulo
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore facere voluptate sapiente pariatur mollitia reiciendis ducimus placeat quo consectetur. Autem earum ea sequi, omnis, suscipit vero ut. Sequi, maiores!
      
